<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/autolib</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="metier.BorneEntity"/>
        <mapping class="metier.ClientEntity"/>
        <mapping class="metier.ReservationEntity"/>
        <mapping class="metier.StationEntity"/>
        <mapping class="metier.TypeVehiculeEntity"/>
        <mapping class="metier.UtiliseEntity"/>
        <mapping class="metier.VehiculeEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>